# Environment variables
.env

# Fonts
fonts/

# Shared folder
shared/sportsdb.js
shared/supabase-client.js
shared/auth.js

# HTML admin page
admin.html

# API file
sportsdb-api.js

# SQL schema
supabase_schema.sql